{% extends 'base.html' %}

{% block title %} Регионы {% endblock %}

{% block head %}Известные регионы{% endblock %}

{% block body %}
    {% load static %}
    <section class="page-section clearfix">
        <div class="container">
            <div class="intro">
                <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static '/assets/img/412022.jpg' %}" alt="...">
                <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                 <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Номер</th>
                                <th scope="col">Название региона</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                           {% for item in object_list %}
                                <tr>
                                    <th scope="row">{{ forloop.counter }} </th>
                                    <td><a href="{% url 'hhapp:area_detail' pk=item.pk %}">{{ item.name }}</a></td>
                                    <td><a href="{% url 'hhapp:area_update' pk=item.pk %}">Изменить</a></td>
                                    <td><a href="{% url 'hhapp:area_delete' pk=item.pk %}">Удалить</a></td>
                                </tr>
                           {% endfor %}
                        </tbody>
                    </table>
                    <a href="{% url 'hhapp:area_create' %}">Создать</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block footer %}Привет, привет - от больших штиблет{% endblock%}
